<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/style.css">
    <title>SupplySight - Contact Us</title>
</head>

<body>
    <nav>
        <div class="nav-content">
            <div class="logo-container">
                <img src="../static/img/logo.png" alt="SupplySightLogo">
            </div>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/sales-forecasting">SALES FORECASTING</a></li>
                <li><a href="/delay-detection">DELAY DETECTION</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </div>
    </nav>


    <div class="container">
        <section id="about-site">
            <h1>About This Website</h1>
            <p>Explore the realm of Supply Chain through a machine learning lens. This platform offers cutting-edge algorithms and approaches for optimizing different aspects of the supply chain, from sales forecasting to fraud detection.</p>
        </section>

        <section id="contact-info">
            <h2>Contact Information</h2>
            <p>If you have questions, suggestions, or any other inquiries, feel free to reach out!</p>
            <p>Email: <a href="mailto:nguyenn82@student.douglascollege.ca">info@supplysight.com</a></p>
        </section>

        <section id="about-creator">
            <h2>About The Creator</h2>
            <p>This website was crafted with passion by Vi, a data student with keen interests in Machine Learning and Supply Chain Optimization. Driven by innovation and a desire to streamline processes, we embarked on this journey to make a difference in the field.</p>
        </section>

        <section id="feedback">
            <h2>Provide Feedback</h2>
            <p>We're always looking to improve! If you have suggestions for new features, algorithms, or general feedback about the website, please let us know.</p>
            <form action="/submit-feedback" method="post">
                <textarea name="feedback" rows="5" cols="50" placeholder="Enter your feedback here..."></textarea>
                <div class="input-group">
                    <input type="submit" value="Submit Feedback">
                </div>
            </form>
        </section>
    </div>

    <script src="../static/js/script.js"></script>
</body>
</html>
